.card{
    background-color: var(--color-bg-tertiary);
    color: var(--color-font-primary);
    padding: 20px;
    min-height: 60px;
    padding: 25px 20px;
    border-radius: 16px;
}

.site-name{
    font-size: 20px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.content-title{
    font-weight: 500;
    font-size: 38px;
}

.input-user{
    width: 298px;
    height: 40px;
    margin-top: 12px;
    margin-bottom: 24px;
    border-color: 1px solid var(--border-color-primary);
    border-radius: 4px;
    padding: 17px 8px;
    font-size: 16px;
    color: var(--color-font-quaternary);
}